.medicamentos-container {
  padding: 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  gap: 20px;
  border-radius: 20px;
  background-color: var(--bg-primary);
}

.medicamentos-body {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 250px; /* ajuste conforme o design */
  padding-right: 4px;
}

.med-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2rem;
  font-weight: 600;
  color: #00b170;
}

.med-title svg {
  width: 35px;
  height: 35px;
  color: #00b170;
}

.med-card {
  background-color: var(--bg-primary);
  border: 1px solid var(--borderchat);
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.med-nome {
  font-weight: 500;
  font-size: 1.5rem;
  color: #1e293b;
  color: var(--text-title);
}

.med-frequencia {
  font-size: 1.2rem;
  color: var(--text-color);
}

.med-horarios {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.med-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  color: #334155;
}

.med-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px; /* ou auto, ou 100% */
  font-size: 22px;
  position: relative;
  cursor: pointer;
  padding-right: 30px;
}

.custom-checkbox input {
  display: none;
}

.checkmark {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 0;
  transition: all 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #0aa174; /* verde */
  border-color: #0aa174;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.medicamentos-body::-webkit-scrollbar {
  width: 6px;
}

.medicamentos-body::-webkit-scrollbar-track {
  border-radius: 10px;
}

.medicamentos-body::-webkit-scrollbar-thumb {
  background-color: #0aa174;
  border-radius: 10px;
}

.medicamentos-body::-webkit-scrollbar-thumb:hover {
  background-color: #0aa174;
}
